@import "/imports/ui/stylesheets/variables/_all";

.head {
  height: 60px;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: stretch;
  background-color: var(--color-black);
  color: var(--color-white);

  .logo {
    margin-left: 10px;
    display: flex;

    img {
      align-self: center;
      height: 45px;
    }
  }

  .headTitle {
    margin-left: 20px;
    align-self: center;
  }

  .demoTag {
    padding: 0 20px;
    display: flex;
    margin-left: auto;
    order: 3;
    background-color: var(--color-danger);

    > span {
      align-self: center;
    }
  }
}
