:root {
  --color-white: #FFF;
  --color-off-white: #F3F6F9;

  --color-black: #000000;
  --color-black-2: #101010;
  --color-gray: #4E5A66;
  --color-gray-2: #707070;
  --color-gray-dark: #292929;
  --color-gray-light: #8B9AA8;
  --color-gray-darkest: #111111;
  --color-gray-lighter: #a7b3bd;
  --color-gray-lightest: #d4d9df;

  --color-blue-light: #54a1f3;
  --color-blue-lighter: #92BCEA;
  --color-blue-lightest: #E4ECF2;

  --color-primary: #0F70D7;
  --color-success: #008081;
  // --color-danger: #EE3436;
  --color-danger: #00BBB4;
  --color-warning: purple;

  --color-background: var(--color-gray-dark);

  --color-text: var(--color-gray);
  --color-heading: var(--color-gray-dark);

  --color-link: var(--color-demo-tag);
  --color-link-hover: #00BBB4;

  --color-gray-label: var(--color-gray);

  --color-transparent: #ff000000;

  --color-demo-tag: #00BBB4;
  --color-user-list: #203836;
  --color-chat-panel: #191919;
  --color-aux-light: #d6fffe;
  --color-aux-lighter: #99fffc;
  --color-aux-lightest: #00BBB4;
}
